.section {
  height: max-content
}

.content {
  margin-top: 50px;
}


.content h2 {
  font-size: 3rem;
  font-weight: 300;
}

.content h2 span {
  color: rgba(128, 128, 128, 0.555);
}


.content h3 {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 35px 0px;
}